.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin-bottom: 37px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
    margin-bottom: 27.6px;
  }
}
