.popup__close-button {
  background-image: url(../../../images/close-icon.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.profile__close-button:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 950px) {
  .popup__close-button {
    right: 0;
  }
}

@media screen and (max-width: 320px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -38px;
  }
}
