.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 336px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
    max-width: 282px;
  }
}
