.like {
  background-image: url(../../images/like-button.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.like:hover {
  opacity: 0.6;
  transition: 0.5s;
}

/* .places__like-button:active {
  background-image: url(../../../images/like-button-active.svg);
  opacity: 1;
}

.places__like-button:visited {
  background-image: url(../../../images/like-button-active.svg);
} */
