.like_liked {
  background-image: url(../../../images/like-button-active.svg);
  opacity: 1;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  cursor: pointer;
}
